/************************************************************/
/* CSS -- contact_form,  location y privacidad -- (Alfonso) */
/************************************************************/
* {
    margin: 0px;
    border: 0px;
}

/* Selector que define las características del body */
body {
    /*background-color: #0288d1; para quitar pues dejamos la imagen del fondo*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #263238;
    background-image: url("../img/languages.jpg");
    background-position: center;    
}

/* Selector que define las características de las etiquetas form */
form {
    /* Centrar el formulario en la página */
    margin: 0.75em auto;
    width: 90%;
    /* Esquema del formulario */
    padding: 0.75em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

/* Selector que define las características de las etiquetas h1 */
h1 {
    font-size: 3em;
    margin: 0.75em auto;
    width: 75%;
    text-align: center;
    background-color: #CCC;
    border-radius: 1em;
}

/* Selector que define las características de las etiquetas fieldset */
fieldset {
    margin-bottom: 5px;
    background-color: #ccc;
    border-radius: 1em;
}

/* Selector que define las características de la clase labelstrong */
.labelstrong {
    font-size: 1.5em;
    font-weight: bold;
}

/* Selector que define las características de las etiquetas label */
label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

/* Selector que define las características de las etiquetas input */
input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


/* Selector que define las características de la clase textinput */
.textinput {
    padding: 3% auto;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;   
}

/* Selector que define el comportamiento del id validacion */
#validacion{
    text-align: center;
}

/* Selector que define el comportamiento del id submit */
#submit {
    background-color: #5f5f5f;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.8em;
}

/* Selector que define las características de las etiquetas hr */
hr {
    color: #CCC
}

/* Selector que define las características de las etiquetas footer */
footer {
    width: 90%;
    margin: 0.75em auto;
    padding: 0.5em;
    color: #263238;;
    text-align: center;
    background-color: #CCC;
    border-radius: 0.25em;
}

iframe{
    margin: 1em;
    width: auto;
}

p {
    text-align: justify;
    margin: 1em;
    padding: 1em;
}

/* Selector que define las características de las etiquetas div */
div {
    border: grey;
    margin: 10px;
    background-color: #CCC;
    border-radius: 1em;
}

.center{
    margin: 0 auto;
}

#contenedor {
    margin: 2em auto;
    width: 90%;
    border-style: dashed;
    border-color: black;
    border-width: 15px;
    background-color: transparent;
}


/************************************************************/
/* CSS -- Banner principal, nav, y el section-aside (Jorge) */
/************************************************************/

/* Clase FIT para que ocupe todo el ancho */
.fit{
    max-width: 100%;
}
#nav-icono{
    display: none;
    margin: 10px;
    border: 10px;
    padding: 1px;
    background-color:midnightblue;
    border-radius: 1em;
    width: 50px;
    height: 50px; 
}
#boton-icono{
    margin: 5px;
    max-height: 36px;
    max-width: 36px;
    border-radius: 1em;
}
/* Clases para nav y su menú desplegable */
#nav-normal{
    margin: 10px;
    border: 10px;
    padding: 1px;
    background-color:midnightblue;
    border-radius: 1em;  
}

ul{
    text-align: justify;
    margin: 0 auto;
    padding-left: 0px; /*Por defecto tiene 40 de padding-left*/
    list-style: none; /*Para quitar los bullets*/
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:18px;
}
            
nav li{
    float: none;
    display:inline-block;
    flex-grow: 1;
    width: 135px;
    height: 25px;
    padding: 5px;
    border: solid 3px;
    border-color: midnightblue;
    border-radius: 1em;
    background-color:midnightblue;
    text-align:center;
    color:#fff;
    position:relative;/*Esta es muy importante para que funcione correctamente*/
}
            
nav li:hover{
    border-color: black;
    background-color:aquamarine;
    color:#000;
    z-index: 10;
}
            
nav li>ul{
    display:none;
    padding-left: 15px;
}

nav li:hover>ul{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
    z-index: 10;
}

/* Etiquetas para el bloque principal */
#page {
	/*
	Hacemos que el elemento padre tenga el comportamiento flex.
	*/
    clear: both;
	display: flex;
	max-width: 100%;
	margin: 10px;
}

#main {
	/* 
	Hacemos que el elemento crezca hasta ocupar todo el espacio disponible
	*/
    padding: 10px;
	flex-grow:1;
    background-color: #CCC;
    border-radius: 1em;
}

#aside-publi{
	/* 
	Marcamos la anchura del sidebar, y eliminamos el comportamiento de flex.
    Para que rellene el tamaño del main del section.
	*/
	flex-shrink:0;
    width: 25%;
    background-color: rgb(156, 176, 230);
    margin: 3px;
    padding: 3px;
    border-radius: 1em;
}

.text-justify{
    text-align: justify;
}

#article-h1{
    margin: 10px;
    padding: 10px;
    text-align: left;
}

#article-footer{
    align-self: right;
    text-align: right;
    
}

.banner{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#hr-banner{
    border-color: black;
}

/************************************************************/
/*     CSS -- Quienes somos, Area de actuacion (Cesar)      */
/************************************************************/


/* 
--------------- Seccion y Articulos Area de Actuacion ---------------
*/

#section-cursos{
    box-align: left;
    width: 70%;
    float: left;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 1em;
    margin-left: 30px;
    background-color: #CCC;
}
article{
    text-align: center;
    padding-top: 3%;   
}

img{
    border-radius: 1em;
}

#articulo-1{
    float: left;
    width: 50%;
}
#articulo-2{
    float: right;
    width: 50%;
}
#articulo-3{
    clear:both;
    float:left;
    width: 50%;
}
#articulo-4{
    float: right;
    width: 50%;
}
#articulo-5{
    clear:both;
    float:left;
    width: 50%;
}
#articulo-6{
    float:right;
    width: 50%;
}

/*  
------------- Estructuracion de aside en Area de actuacion ---------- 
*/

#aside-cursos{
    margin: 20px;
    width: 20%;
    float: right;
    text-align: left;
    background-color: rgb(241, 212, 175);
    border-radius: 1em;
    margin-left: 30px;
    padding-left: 1%;
    padding-right: 1%;
    
}
h3 {
    margin: 1em auto;
    background-color: #CCC;
    border-radius: 1em;
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
}

/*
    Footer añadido para cuadrar la estructura de la pagina 
    ya que se ha utilizado float y descuadraria con el footer generico
*/

#footer-cursos{
    clear:both;
    width: 90%;
    margin: 0.75em auto;
    padding: 0.5em;
    color: #263238;
    text-align: center;
    background-color: #CCC;
    border-radius: 0.25em;
}

/*
    Estilo pagina quienes somos
*/

#section-quienes-somos{
    float: left;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 1em;
    background-color: rgb(240, 119, 119);
}

.foto-section{
    width: 99%;
    height: 370px;
    border-radius: 7em;
    border-color: black;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 8px;
}

#aside-quienes-somos{
    margin: 20px;
    width: 40%;
    float: right;
    text-align: left;
    background-color: rgb(241, 212, 175);
    border-radius: 1em;
    padding-left: 1%;
    padding-right: 1%;
}

/*
    Footer añadido para cuadrar la estructura de la pagina 
    ya que se ha utilizado float y descuadraria con el footer generico
*/

#footer-quienes-somos{
    clear:both;
    width: 90%;
    margin: 0.75em auto;
    padding: 0.5em;
    color: #263238;
    text-align: center;
    background-color: #CCC;
    border-radius: 0.25em;
}

/*
        =======================================================================
                      PRUEBA DE RESPONSIVE DESIGN - MEDIA QUERIES
        =======================================================================
*/

/*
Adaptación para ancho variable de monitores de más de 1300px de ancho.
*/
/***** No ponemos ninguna condición ******/



/*
Adaptación de ancho fijo de resoluciones de 900 a 1300px de ancho.
*/
@media screen and (min-width: 900px) and (max-width: 1300px) and (orientation: landscape){
    
    #section-cursos {
        width: auto;
        float:none;
        box-align: center;
    }

    #articulo-1{
        width: auto;
        float:none;                    
    }

    #articulo-2{
        width: auto;
        float:none;
        
    }
    #articulo-3{
        width: auto;
        float:none;
        
    }
    #articulo-4{
        width: auto;
        float:none;
        
    }
    #articulo-5{
        width: auto;
        float:none;
        
    }
    #articulo-6{
        width: auto;
        float:none;
        
    }

    #aside-cursos {
        width: auto;
        float: none;
        box-align: center;
        text-align: center;
    }            
}

/*
Adaptación optimizada para verse en un iPad en posición horizontal.
*/
@media screen and (max-width: 900px) and (orientation: landscape){

    #contenedor {
        border-color: blueviolet;
    }

    nav a{
    text-align: center;
    text-decoration:none;
    color:inherit;
    font-size:15px;
    }

    #section-cursos {
        margin: 2em auto;
        width: 90%;
        float: none;
        box-align: center;
        background-color: aquamarine;
    }

    #articulo-1{
        width: auto;
        float: none;                    
    }
    #articulo-2{
        width: auto;
        float: none;
        
    }
    #articulo-3{
        width: auto;
        float: none;
        
    }
    #articulo-4{
        width: auto;
        float: none;
        
    }
    #articulo-5{
        width: auto;
        float: none;
        
    }
    #articulo-6{
        width: auto;
        float: none;
        
    }
    #section-quienes-somos{
        margin: 2em auto;
        float: none;
        width: 90%;
    }

    #aside-quienes-somos{
        float: none;
        margin: 2em auto;
        width:90%;   
    }

    h3 {
        width: 30%;
    }
    /*Ajuste de tamaño imagen movil*/
    /*
    img{
        width: 20%;
    }
    */

    /*Cambio de color de fondo para movil*/
    #aside-cursos {
        margin: 2em auto;
        width: 90%;
        float: none;
        box-align: center;
        text-align: center;
        background-color: crimson;
        padding: 0px;
    }
    
    /*Cambio de la etiqueta h1 para movil*/
    h1 {
        font-size: 2em;
        color: white;
        margin: 0.75em auto;
        width: 75%;
        text-align: center;
        background-color: black;
        border-radius: 1em;
    }

    /* Cambio de las etiquetas fieldset para movil*/
    fieldset {
        color: blanchedalmond;
        margin-bottom: 5px;
        background-color: rgb(44, 44, 44);
        border-radius: 1em;
    }

    /* Cambio de las etiquetas label para movil*/
    label {
        display: block;
        margin-top: 1px;
        margin-bottom: 1px;   
    }

    /* Cambio que define las características de la clase textinput para movil*/
    .textinput {
        color: brown;
        background-color: lightgrey;
        padding: 3% auto;
        width: 100%;
        min-height: 75px;
        outline: none;
        resize: none;   
    }
    /* Cambio que define el comportamiento del id submit para movil*/
        #submit {
        background-color: #ebb135;
        color: rgb(4, 4, 4);
        font-weight: bold;
        border-radius: 1em;
        padding: 0.8em;
    }
}

/*
Adaptación optimizada para verse en un iPad en posición vertical.
*/
@media screen and (max-height: 900px) and (orientation: portrait){
    
    #contenedor {
        border-color: brown;
    }
    
    nav a{
        text-align: center;
        text-decoration:none;
        color:inherit;
        font-size:15px;
    }

    #section-cursos {
        width: auto;
        float:none;
        box-align: center;
        background-color: rgb(20, 220, 30);
    }

    #articulo-1{
        width: auto;
        float:none;                    
    }

    #articulo-2{
        width: auto;
        float:none;
        
    }
    #articulo-3{
        width: auto;
        float:none;
        
    }
    #articulo-4{
        width: auto;
        float:none;
        
    }
    #articulo-5{
        width: auto;
        float:none;
        
    }
    #articulo-6{
        width: auto;
        float:none;
        
    }

    /*Ajuste de tamaño imagen movil*/
    img{
        width: 180px;
    }

    /*Cambio de color de fondo para movil*/
    #aside-cursos {
        width: auto;
        float: none;
        box-align: center;
        text-align: center;
        background-color: crimson;

    }

    #section-quienes-somos{
        margin: 2em auto;
        float: none;
        width: 90%;
    }

    #aside-quienes-somos{
        float: none;
        margin: 2em auto;
        width:90%;
        
    }            
}

/*
Adaptación optimizada para verse en un iPhone posición vertical.
*/
@media screen and (max-width: 500px) and (orientation: portrait){
    
    #contenedor {
        border-color: chartreuse;
    }
    #nav-normal{
        display:none;
    }

    #nav-icono{
        display:block;
    }

    #boton-icono{
        display:inline;
    }
    #nav-icono:hover>ul {
        display: block;
    }
    
    nav ul{
        display: none;
    }

    nav a{
        text-align: center;
        text-decoration:none;
        color:inherit;
        font-size:12px;
    }
    
    nav li{
        width: 100px;
        height: 25px;
    }
    

    /* Etiquetas para el bloque principal */
    #page {
        clear: both;
        display: block;
        max-width: 100%;
        margin: 10px;
    }

    #main {
        padding: 10px;
        display: block;
        background-color: #CCC;
        border-radius: 1em;
    }
    #aside-publi{
        /* 
        Queremos que el aside se coloque debajo de los articles
        */
        position:relative;
        display: block;
        width: 100%;
        background-color: rgb(156, 176, 230);
        margin: 3px;
        border-radius: 1em;
    }
         
    .banner{
        display: inline-block;
        font-size: 8px;
        max-width: 100%;
        max-height: 100%;
        margin: 5px;
        padding: 5px;
    }
    #hr-banner{
        display: none;
    }

    #section-quienes-somos{
        margin: 2em auto;
        float: none;
        width: 90%;
    }

    #aside-quienes-somos{
        float: none;
        margin: 2em auto;
        width:90%;
        
    }
}

/*
Adaptación optimizada para verse en un iPhone posición horizontal.
*/
@media screen and (max-height: 500px) and (orientation: landscape){

    #contenedor {
        border-color: chocolate;
    }

    nav a{
        text-align: center;
        text-decoration:none;
        color:inherit;
        font-size:15px;
    }

    /*Cambio de la etiqueta h1 para movil*/
    h1 {
        font-size: 2em;
        color: white;
        margin: 0.75em auto;
        width: 75%;
        text-align: center;
        background-color: black;
        border-radius: 1em;
    }

    /* Cambio de las etiquetas fieldset para movil*/
    fieldset {
        color: blanchedalmond;
        margin-bottom: 5px;
        background-color: rgb(44, 44, 44);
        border-radius: 1em;
    }

    /* Cambio de las etiquetas label para movil*/
    label {
        display: block;
        margin-top: 1px;
        margin-bottom: 1px;   
    }

    /* Cambio que define las características de la clase textinput para movil*/
    .textinput {
        color: brown;
        background-color: lightgrey;
        padding: 3% auto;
        width: 100%;
        min-height: 75px;
        outline: none;
        resize: none;   
    }
    /* Cambio que define el comportamiento del id submit para movil*/
        #submit {
        background-color: #ebb135;
        color: rgb(4, 4, 4);
        font-weight: bold;
        border-radius: 1em;
        padding: 0.8em;
    }


}

