/**********************************/
/* CSS -- contact_form,  location y privacidad -- (Alfonso) */
/**********************************/

/* Selector que define las características del body */
body {
    background-color: #0288d1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #263238;;
}

/* Selector que define las características de las etiquetas form */
form {
    /* Centrar el formulario en la página */
    margin: 0.75em auto;
    width: 75%;
    /* Esquema del formulario */
    padding: 0.75em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

/* Selector que define las características de las etiquetas h1 */
h1 {
    margin: 0.75em auto;
    width: 75%;
    text-align: center;
    background-color: #CCC;
    border-radius: 1em;
}

/* Selector que define las características de las etiquetas fieldset */
fieldset {
    margin-bottom: 5px;
    background-color: #CCC;
    border-radius: 1em;
}

/* Selector que define las características de la clase labelstrong */
.labelstrong {
    font-size: 1.5em;
    font-weight: bold;
}

/* Selector que define las características de las etiquetas label */
label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

/* Selector que define las características de las etiquetas input */
input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


/* Selector que define las características de la clase container */
.container {
    margin: 0px auto;
}

/* Selector que define las características de la clase textinput */
.textinput {
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;        
}

/* Selector que define el comportamiento del id validacion */
#validacion{
    text-align: center;
    width: 50%;
}

/* Selector que define el comportamiento del id submit */
#submit {
    background-color: #0288d1;
    color: white;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.8em;
}

/* Selector que define las características de las etiquetas hr */
hr {
    color: #CCC
}

/* Selector que define las características de las etiquetas footer */
footer {
    width: 75%;
    margin: 0.75em auto;
    padding: 0.5em;
    color: #0288d1;
    text-align: center;
    background-color: #CCC;
    border-radius: 0.25em;
}

/* Selector que define las características de las etiquetas div */
div {
    width: 75%;
    margin: 0.75em auto;
    padding: 1em;
    border: #CCC;
    margin-bottom: 10px;
    background-color: #CCC;
    border-radius: 1em;
}

.center{
    margin: 0 auto;
}




/************************************************************/
/* CSS -- Banner principal, nav, y el section-aside (Jorge) */
/************************************************************/

.fit{
    max-width: 100%;
}

nav{
    margin: 10px;
    border: 10px;
    padding: 10px;
    background-color:#CCC;
    border-radius: 1em;
}

#nav-link{
    color: firebrick;
}

#page {
	/*
	Hacemos que el elemento padre tenga el comportamiento flex.
	*/
	display: flex;
	/* Then, we give it a max-width and center it */
	max-width: 100%;
	margin: 10px;
}

#main {
	/* 
	Hacemos que el elemento crezca hasta ocupar todo el espacio disponible
	*/
	flex-grow:1;
    background-color: #CCC;
    border-radius: 1em;
}

aside{
	/* 
	Marcamos la anchura del sidebar, y eliminamos el comportamiento de flex.
    Para que tenga el tamaño del main del section.
	*/
	flex-shrink:0;
    width: 20%;
    background-color: rgb(156, 176, 230);
    margin: 10px;
    border-radius: 1em;
}