/*
CSS
*/
/*Eliminamos los margenes, los bordes y el padding por defecto*/

body{
    background-color: rgb(56, 76, 230);
}

#container{
    
}

.fit{
    max-width: 100%;
}

nav{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: rgb(56, 76, 230);
}

#nav-link{
    color: firebrick;
}

#page {
	/*
	First, we set the top-level element to display:flex. By
	default, it will orient its children horizontally. We are
	providing -webkit- versions for Safari and iOS.
	*/
	display: -webkit-flex;
	display: flex;
	/* Then, we give it a max-width and center it */
	max-width: 100%;
	margin:0 auto;
}

#main {
	/* 
	We then set the child with the main content of 
	the page to grow automatically and take all the space
	*/
	-webkit-flex-grow:1;
	flex-grow:1;
}

aside{
	/* 
	The sidebar wont grow automatically (flex-grow defaults to 0),
	and has a width. We should only disable shrinking by setting
	flex-shrink to 0.
	*/
	-webkit-flex-shrink:0;
	flex-shrink:0;
    width: 20%;
    background-color: rgb(156, 176, 230);

}


footer{

}